.show{
    display: block;
}
.unShow{
    display: none;
}
nav{
    border-radius: 0 !important ;
    margin-bottom: 0 !important;
    /*height: 135px;*/
    color: #4C4C4C;
    /*padding:0.3rem  0 0 0;*/
    letter-spacing: 2px;

}
.nav{
    margin-left: 60px !important;
}
nav a{
    color: #000 !important;
}
.navbar-brand{
    /*margin-left: 0.6rem;*/
    padding: 15px 0 15px 15px;
    width: 150px;
}
.navbar-toggle{
    /*margin-right: 0.6rem;*/
}
.navbar-brand-img{
    position: relative;
    float: right;
    /*padding: 9px 10px;*/
    height:0.5rem;
    width: 0.5rem;
    border: 1px solid #4C4C4C;
    border-radius: 50%;
    margin: 0.2rem 0.3rem 0.3rem 0;
    line-height:0.5rem;
    text-align: center;
    font-size: 0.24rem;
    padding: 0;
}
.navbar-brand-img img{
    width: 12px;
}
.activeH{
    color:#214591;
    border-bottom: 2px solid #214591;
}
/*搜索框*/
.search{
    position: absolute;
    top:80px;
    right: 0;
}
.search input{
    height:30px;
    width: 220px;
    padding: 0.08rem 0.4rem 0.08rem 0.2rem;
    border:1px solid #727272 ;
    z-index: 100;
    border-radius: 0.3rem;
}
.search img{
    width: 0.6rem;
    position: absolute;
    top: 0rem;
    right: 0.8rem
}
.search span{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    /*background-color: #fff;*/
    border-left: 2px solid #3c3c3c;
    /*border-bottom: 1px solid #3c3c3c;*/
    border-radius: 50%;
    z-index: 10;
}
.search i{
    float: right;
    width: 30px;
    height: 30px;
    border: 1px solid #3c3c3c;
    border-radius: 50%;
    line-height: 0.44rem;
    text-align: center;
    margin-left: 0.4rem;
}
.search span:nth-child(1){
    position: absolute;
    top:0.2rem;
    left: -0.2rem;
}
.HomeShow{
    display: none;
}
.pull-down{
    position: absolute;
    left:0;
    bottom: -2rem;
    width: 100%;
    padding: 0.2rem 0.2rem 0.2rem 0.8rem;
    box-sizing: border-box;
    background-color: #F8F8F8;
    transform: translateX(-100%);
    z-index: 999;
}
.pull-down:after{
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
}
.close-search{
    height: 1.4rem;
    width: 0.8rem;
    margin-right: 0.4rem;
    float: left;
    width: 10%;
    margin-top: 0.2rem;
}
.close-search span{
    display: block;
    width: 0.6rem;
    border-bottom: 3px solid #000;
}
.close-search span:nth-child(1){
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg)
}
.close-search span:nth-child(2){
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg); 	/* IE 9 */
    -moz-transform:rotate(-45deg); 	/* Firefox */
    -webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
    -o-transform:rotate(-45deg)
}
.deg{
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg)
}
._deg{
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg); 	/* IE 9 */
    -moz-transform:rotate(-45deg); 	/* Firefox */
    -webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
    -o-transform:rotate(-45deg)
}
.startSearch{
    float: left;
    width: 81%;
    position: relative;
}
.startSearch input{
    box-sizing: border-box;
    padding: 0.08rem 0.1rem 0.08rem 0.6rem;
    width: 100%;
    background-color: #F8F8F8;
    border-bottom: 1px solid #696969;
    color: #000;
}
.startSearch img {
    position: absolute;
    top:0.12rem;
    left:0;
}
.startSearch p {
    font-size: 0.24rem  ;
    color: #000;
    line-height: 0.8rem;
}
@-webkit-keyframes an{
    0% { transform: translateX(-100%); opacity: 0}
    100% {transform: translateX(0); opacity:1}
}
.navClickAn{
    animation: an 1s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards ;
    -o-animation-fill-mode: forwards;
}
.imgGroup ul li img{
    width: 100%;
    margin: 0;
}
.Login-nav{
    /*margin-top: -0.24rem;*/
    padding-top: 30px;
}
.navClick>li>a>span::after{
    /*padding: 10px 15px;*/
    display: inline-block;
    position: absolute;
    top: 78px;
    left:0;
    content: '';
    width:0;
    height: 20%;
    background-color:  rgba(33, 69,145,1);
    transition: all 300ms ease;
    transform-style: preserve-3d;
}
.navClick>li>a>span:hover::after{
    display: inline-block;
    width:100%;
    background-color: rgba(33, 69,145,1);
    color: #fff!important;
    z-index: -1;
}
.navClick>li>a>span:hover{
    color: #fff!important;
    z-index: 9999;
}
.unShow{
    display: none;
}
.navbar-nav>li>a{
    padding-bottom: 40px;
    padding-top: 82px ;
}
/*.collapse ul{*/
    /*margin-left: 60px;*/
/*}*/
.navbar .nav>li .dropdown-menu{
    margin: 0;
}
.navbar .nav>li:hover .dropdown-menu{
    display: block;
}
.navbar .nav>li:hover .one{
    display: block;
}
/*.nav>li{*/
    /*position: inherit;*/
/*}*/
.one{
    height: 175px;
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    display: none;
}
.dropdown-menu{
    position: absolute;
    top: 97%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    /* min-width: 160px; */
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
     background-color: transparent!important;
    -webkit-background-clip: padding-box;
    /* background-clip: padding-box; */
     border: none;
     border: none;
     border-radius: 0px;
     -webkit-box-shadow: none!important;
     box-shadow: none!important;
    margin-top: 32px;
    padding-top: 16px;
}
.dropdown-menu li:hover a{
    background-color: transparent!important;
    color:  rgba(33, 69,145,1) !important;
}
.nav>li:nth-child(2){
    position: inherit;
}
.navbar .nav>li:nth-child(2):hover .dropdown-menu{
    display: flex;
}
.proDetails{
    width:100%;
    display: flex;
    justify-content: space-between;
    display: none;
}
.proDetails .classify{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.proDetails .classify>h3{
    font-size: 24px;
    color: rgba(33, 69,145,1);
    position: relative;
    cursor: pointer;
}
.classify>h3>a{
    color: rgba(33, 69,145,1) !important;
}
.proDetailsLine{
    border-left: 1px solid #d2d2d2;
    margin: 0 4%;
}
.classify ul li{
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
}
.classify ul li span{
    border-left: 2px solid rgba(33, 69,145,1);
    margin-right: 20px;
}
.classify ul li:hover{
    color: rgba(33, 69,145,1);
    cursor: pointer;
}
.classify h3 img{
    width: 18px;
    display: none;
    position: absolute;
    top: 4px;
    right: -25px;
}
.two{
    height: 250px;
    position: absolute;
    width: 100%;
    background-color: rgba(250,250,250,0.9);
    display: none;
}
.strengthNav{
    left: -30px!important;
}
.bar {
    position: relative;
    display: block;
    width: 0.5rem;
    height: 0.05rem;
    margin: 0.1rem auto;
    background-color: #000;
    border-radius: 0.1rem;
    transition: .3s;
}

.navHeader {
    height: 1.2rem;
    line-height: 1.2rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 0.4rem;
    z-index: 9999;

}

.mobileHeader {
    position: relative;
}

/*span {*/
    /*font-size: 0.28rem;*/
/*}*/

.navLeft {
    display: flex;
    justify-content: space-between;
    width: 2.2rem;
}

.navLeft > div {
    line-height: 1.2rem;
    margin-top: 0.4rem;
}

.navLeft > span {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.4rem;
    border: 1px solid #646464;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    line-height: 0.5rem;
}

.navLeft > span > img {
    width: 0.3rem;
}

.logo {
    display: block;
    width: 2rem;
}

.logo>img {
    width: 100%;
}

.couser {

}

.deg {
    transform: rotate(45deg) translateY(0.2rem)
}

.deg1 {
    transform: rotate(-45deg) translateY(-0.2rem)
}

.ulNav {
    list-style: none;
    position: absolute;
    top: 1.2rem;
    background-color: #eee;
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
    padding-top: 0.2rem;
    z-index: 999;
    padding-bottom: 1rem;
}

.ulNav > li {
    line-height: 0.8rem;
    width: 100%;
    /*text-align: center;*/
    padding-left: 0.5rem;
}

.ulNav > li >a {
    display: block;
    color: #000;
    margin-right: 0.5rem;
    border-bottom: 1px solid rgba(210,210,210,1);
}
.ulNav > li a{
    color: #000;
}
.ulNav > li >a>i{
    float: right;
}
@keyframes ballmove {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity:1;
    }
}
.dianji{
    animation:  ballmove 1s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards ;
    -o-animation-fill-mode: forwards;
}
.secondLevel{
    padding-left: 1rem;
}
.foot{
    padding-top: .3rem;
    padding-left: .4rem;
}
.foot li{
    line-height: .4rem;
}
.one:hover .dropdown-menu{
    display: block;
}
.dropdown-menu-1>li{
    margin-bottom: 5px;
}
.mobileHeader{
    display: none;
}
@media (max-width: 1200px) {
    .mobileHeader{
        display: block;
    }
    .PCheader{
        display: none;
    }
}
.navClick>li>a{
    font-size: 16px;
}