.about-container{
    /*height: 1000px;*/
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 2rem;
}
.activeA{
    color: #224592 !important;
}
.about-container .about-container-left{
    background-color: #F8F8F8;
    height: 100%;
}
.about-container .about-container-left .tittle{
    color:#224592;
    border-bottom: 1px solid #DCDCDC;
    padding: 20px;
}
.about-container .about-container-left .tittle h3 a{
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #224592;
}
.about-container .about-container-left ul{
    padding: 20px;
}
.about-container .about-container-left ul li{
    border-left: 2px solid #224592;
    margin-bottom: 30px;
    padding-left: 20px;
    height: 15px;
    line-height: 15px;
    color: #666666;
}
.about-container .about-container-left ul li a{
    color: #666;
}
.about-container .about-container-left .contact{
    background-color: #EAEAEA;
    padding: 20px;
    margin-top: 405px;
    color: #224592;
    line-height: 40px;
}
.about-container .about-container-left .contact p:nth-child(2){
    line-height: 30px
}
.about-container-right img{
    width: 100%;
}
.about-container-right > .tittle{
    height: 60px;
    border-bottom: 1px solid #224592;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.about-container-right > .tittle>p{
    height: 60px;
    line-height: 60px;
    margin-top: -12px;
}
.about-container-right > .tittle>p.left{
    font-size: 30px;
    color: #224592;
}
.about-container-right > .tittle>p.right{
    color: #333333;
}
.about-container-right .container{
    width: 100%;
    color: #666666
}
.about-container-right .container header{
    border-left: 2px solid #224592;
    margin-top: 30px;
    padding-left: 20px;
    height: 15px;
    line-height: 15px;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.about-container-right .container p{
    width: 100%;
    text-indent:25px;
    font-size: 14px;
    line-height: 28px;
}
.connection{
    display: inline-block;
    width: 150px;
    padding: 0 10%;
    height: 35px;
    background-color: #224592;
    color: #fff !important;
    line-height: 35px;
    text-align: center;
    margin-top: 20px;
}
.LiBlue img{

}
/*图片上的按钮*/
.StrengthImg{
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
}
.viewMore{
    width: 50%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    top:0;
    right:0;
}
.viewMoreContent p{
    font-size: 18px;
    letter-spacing: 2px;
    color: #224592;
}
.viewMoreContent p:nth-last-child(2){
    font-style: oblique;
    margin-top: 20px;
    font-size: 14px;
}
.viewMoreContent a{
    margin-top: 35px;
    display: block;
    height:35px;
    width: 130px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    letter-spacing: 2px;
    background-color: #224592;
}
.viewMoreContent{
    position: absolute;
    top:50%;
    left:20%;
    transform: translateY(-90px);
}
/*.activeStrength{*/
    /*border: 2px solid #224592;*/
/*}*/
.StrengthImg:hover{
    border: 2px solid #224592;
    cursor: pointer;
    overflow: hidden;
}
.StrengthImg:hover .viewMore{
    animation: drive 1s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards ;
    -o-animation-fill-mode: forwards;
}
.viewMore{
    transform: translateX(100%);
    opacity: 0;
    /*display: none;*/
}
@keyframes drive { 0% { transform: translateX(100%);
    opacity:0; display: none;} 100% { transform: translateX(0);opacity:1;display: block } }

.VideoCenterTitle{
    font-size: 20px;
    border-left: 2px solid #224592;
    color: #224592;
    letter-spacing: 2px;
}
.browse{
    float: right;
    font-size: 14px;
    margin-top: 4px;
    color: #646464;
}
.Release{
    margin-left: 18px;
    line-height: 35px;
}
.VideoCenter div:nth-child(1){
    margin-bottom: 60px;
}
.con{
    display: none;
}
.detection img{
    margin-bottom: 50px;
}
@media (max-width: 990px){
    .about-container-left{
        display: none;
    }
    .about-container{
        margin-top: 0;
        margin-bottom: 1rem;
        padding:0 20px;
    }
}